.body,.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    background-color: white;
    font-family: 'Roboto';
}
.title{
    font-size: 24px;
    color: rebeccapurple;

}
.notify{
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    font-size: 18px;
    color: rebeccapurple;
    background-color: transparent;
    border: 2px solid rebeccapurple;
}
.notify:hover{
    cursor: pointer;
    background-color: rebeccapurple;
    color: white;
    border: 2px solid white;
}