<!-- <div class="body">
    <div class="container">
        <div class="title">Welcome to my first PWA (progressive web app)</div>
        <button class="notify" (click)="notify()">Notification</button>
    </div>
</div> -->

<div>
    <h2>IndexedDb Cache</h2>
    <!-- <form [formGroup]="form"> -->
        <div><label>key:</label><input type="text" id="key"></div>
        <div><label>value:</label><input type="text" id="value"></div>
    <!-- </form> -->
    <div>
      <button (click)="get()">get</button>
      <button (click)="put()">put</button>
    </div>
    <p>Result: {{result}}</p>
  </div>